:root {
    --bg-up-down: #F0ECE0;
    --bg-main: #F9F7EF;
    --bg-app: #FFFFFF
}

.app {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.main-container {
    width: 100%;
    height: 100%;
    background: var(--bg-main);
}
.header {
    width: 100%;
    height: 60px;
    background: var(--bg-up-down);
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .nav-link {
        color: white!important;
    }
}
.main-content {
    width: 100%;
    height: calc(100% - 120px);
    padding: 30px;
    overflow-y: scroll;
}
.logo__wraper {
    width: 60px;
    height: 60px;
}
.logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.nav-links {
     color: #FFFFFF!important;
}

.lang-select {
    option {
        color: black!important;
    }
}
.lang-select {
    background: transparent;
    color: black!important;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 12px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    --retool-list-box-hover-background: orange;
    cursor: pointer;
    outline: none;
    position: relative;
}


/* Убираем стандартную стрелку и добавляем кастомную */
.lang-select {
    background: url("data:image/svg+xml;utf8,<svg fill='white' height='10' viewBox='0 0 24 24' width='10' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
    background-size: 10px;
    padding-right: 25px;
}



/* Опционально: стилизуем выпадающий список */
.lang-select option {
    background-color: var(--bg-up-down);
    color: #2f2f2f;
    border: none;
}


footer {
    width: 100%;
    height: 60px;
    bottom: 0;
    background: var(--bg-up-down);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.contact-kart {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}
.contact-logo {
    height: 40px;
    width: 40px;
    margin: 10px;
}
.contact-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Tw Cen MT";
    font-size: 2em;
    color: white;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

.contact-kart:hover .contact-wraper {
    width: 250px;
    .phone {
        width: 200px;
    }
    .gmail {
        width: 200px;
    }
    .telegram {
        width: 150px;
    }
    .instagram {
        width: 100px;
    }
}

.modal-container {
    margin: auto;
    width: 80%;
    height: 80vh;
    position: fixed;
    .modal-title {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lg {
        width: 80%;
    }
    .sm {
        width: 60%;
    }
}
